.button-more {
  width: 320px;
  padding: 11px 0 9px;
  margin: 60px auto 80px;
  font-weight: 500;
  font-size: 12px;
  line-height: 1.25;
  color: #000;
  border: none;
  border-radius: 6px;
  background: #F4F4F4;
  cursor: pointer;
  transition: opacity 0.3s;
}

.button-more:hover {
  opacity: 0.7;
}

@media (max-width: 790px) {
  .button-more {
    margin-top: 80px;
  }
}

@media (max-width: 762px) {
  .button-more {
    margin-top: 76px;
    width: 240px;
  }
}